DHM8_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbxfbK1IWH_fL-3BzcoYDsdl61L0EpKuuF_MwPgdzDMutHHqECGRRJaDfsBdHqty-Vjtpg/exec
DHM8_SEPAY_WEBHOOK_TOKEN=replace-with-apps-script-sepay-token
DHM8_SEPAY_PROXY_TOKEN=replace-with-token-in-sepay-webhook-url
